[Desktop Entry]
Type=Application
Name=SecureVault
Comment=Secure Account Manager Daemon
Exec=/mnt/key/securevault/securevaultd -f
Icon=security-high
Terminal=false
Categories=System;Security;
StartupNotify=false
X-GNOME-Autostart-enabled=true
